html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1 {
    text-align: center;
    font-size: 120px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h2 {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
button, input.submit, input.button {
    font-size: 20px;
    border: 1px outset blue;
    background-color: lightBlue;
    margin: 10px;
}
a {
    color: black;
    font-size: 20px;
}
a:hover {
    color: gray;
}
textarea {
    width: 100%;
}
input[type=text] {
    width: 400px;
}
ul {
    list-style-type: square;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
li {
    margin: 10px;
}
fieldset div {
    padding: 10px;
}


.bold {
    font-weight: bold;
}

.container {
    position: relative;
    width: 100%;
}

.tabs {
    width: 960px;
    height: 70px;
    margin: 20px;
    margin-top: 40px;
}
.tab {
    margin-right: 5px;
    padding: 20px;
    float: left;
    border-left-style: solid;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}

.fullscreen {
    width: 960px;
}
.thumbnail {
    width: 90px;
    height: 90px;
        }

.page-header {
    width: 960px;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    width: 960px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}
.section {
    width: 960px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}
.section iframe {
    width: 960px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}
.section img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

}
.section-list {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nobullets {
    list-style-type: none;
}
