button, input.submit, input.button {
    font-size: 18px;
    border: 2px outset blue;
    background-color: lightBlue;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 136px;
    padding: 2px;
}
button:hover {
    background-color: green;
}
button:active {
    background-color: blue;
}

/* interface structure */
.interface-header {
    width: 880px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}
.interface-header a {
    text-decoration: none;
    color: black;
}
.interface-footer {
    width: 960px;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
    clear: both;
}
.interface-footer h2, .interface-footer a {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

/* subsection structure */
.subsection {
    padding-top: 20px;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
.box {
    width: 880px;
    padding: 8px;
    border: 2px solid blue;
}
.page-section {
    border: 2px solid blue;
}
div.red {
    border: 2px solid red;
}
.page-section div {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 22px;
}
.file-input-interface {
    position: relative;
}
.file-input-interface > .change-cover-button {
    position: relative;
}
.file-form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.file-form > .change-file-input {
    width: 144px;
    height: 31px;
}

/* content structure */
.invisible {
    visibility: hidden;
}
@keyframes color {
    0% {background-color: green;}
    50% {background-color: purple;}
    100% {background-color: green;}
}
@keyframes border {
    0% {border-color: green;}
    50% {border-color: purple;}
    100% {border-color: green;}
}
@-webkit-keyframes webkitColor {
    0% {background-color: green;}
    50% {background-color: purple;}
    100% {background-color: green;}
}
@-webkit-keyframes webkitBorder {
    0% {border-color: green;}
    50% {border-color: purple;}
    100% {border-color: green;}
}
@-moz-keyframes mozColor {
    0% {background-color: green;}
    50% {background-color: purple;}
    100% {background-color: green;}
}
@-moz-keyframes mozBorder {
    0% {border-color: green;}
    50% {border-color: purple;}
    100% {border-color: green;}
}
.blinking {
    animation: color 2s;
    animation-iteration-count: infinite;
    -webkit-animation: webkitColor 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: mozColor 2s;
    -moz-animation-iteration-count: infinite;
}
.blinking-border {
    animation: border 2s;
    animation-iteration-count: infinite;
    -webkit-animation: webkitBorder 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: mozBorder 2s;
    -moz-animation-iteration-count: infinite;
    border: 6px solid yellow;
    width: 144px;
    height: 144px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.blinking-section-border {
    animation: border 1s;
    animation-iteration-count: infinite;
    -webkit-animation: webkitBorder 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: mozBorder 1s;
    -moz-animation-iteration-count: infinite;
    border: 6px solid yellow;
    width: 884px;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img.bordered-section {
    width: 872px;
    height: auto;
}
.bordered {
    width: 132px;
    height: 132px;
}
.small {
    height:100px;
}
textarea {
    width: 95%;
    font-size: 16px;
    margin: 15px;
    color: blue;
}
input[type=file] {
    cursor: default;
}
input[type=text] {
    width: 400px;
    color: blue;
    margin: 15px;
}
.box > button {
    margin: 15px;
}
.page-section > button {
    margin: 15px;
}
.page-section > label {
    margin: 15px;
}
button.red {
    background-color: yellow;
}
button.red:hover {
    background-color: red;
}
button.red:active {
    background-color: blue;
}
button.serious {
    background-color: red;
}
button.serious:hover {
    background-color: black;
}
button.serious:active {
    background-color: white;
}
button.space {
    margin: 14px;
}

/* tabs */
.tabs {
    margin-top: 100px;
}


.tab a {
    color: black;
    font-size: 20px;
}
.tab a:hover {
    color: gray;
}
fieldset div {
    padding: 10px;
}



/* section specific styles */
#create-text-section {
    background-color: lightBlue;
}
#create-image-section {
    background-color: lightGreen;
}
#create-video-section {
    background-color: lightYellow;
}
#create-music-section {
    background-color: lightPink;
}
