button, input.submit, input.button {
    font-size: 20px;
    border: 1px outset blue;
    background-color: lightBlue;
    margin: 10px;
}
button:hover {
    background-color: blue;
}
button:active {
    background-color: red;
}

/* interface structure */
.interface-header {
    width: 880px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}
.interface-header a {
    text-decoration: none;
    color: black;
}
.interface-footer {
    width: 960px;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
}
.interface-footer h2, .interface-footer a {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

/* subsection structure */
.page-section div {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 22px;
}

/* tabs */
.tabs {
    margin-top: 100px;
}


.tab a {
    color: black;
    font-size: 20px;
}
.tab a:hover {
    color: gray;
}
textarea {
    width: 100%;
}
input[type=text] {
    width: 400px;
}
ul {
    list-style-type: square;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
li {
    margin: 10px;
}
fieldset div {
    padding: 10px;
}



/* section specific styles */
#create-text-section {
    background-color: lightBlue;
}
#create-image-section {
    background-color: lightGreen;
}
#create-video-section {
    background-color: lightYellow;
}
#create-music-section {
    background-color: lightPink;
}



/*
#all-section button, #all-section input.submit, #all-section input.button {
    background-color: lightBlue;
}
#text-section  button, #text-section input.submit, #text-section input.button {
    background-color: lightGreen;
}
#images-section button, #images-section input.submit, #images-section input.button {
    background-color: lightGrey;
}
#videos-section  button, #videos-section input.submit, #videos-section input.button {
    background-color: lightYellow;
}
#music-section  button, #music-section input.submit, #music-section input.button {
    background-color: lightPink;
}
*/
