<!-- in /templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>YESYESYES - {title}</title>
        <meta name="description" content="san francisco arts and culture">
        <meta name="author" content="yesyesyes">

        <link href='http://fonts.googleapis.com/css?family=Cantata+One|Graduate|Cousine:400,700|Ovo|Sarina|Shadows+Into+Light|Rosarivo|Nosifer|EB+Garamond|Fredoka+One|Josefin+Sans:400,700|Ubuntu+Condensed|PT+Mono|Press+Start+2P|Bree+Serif|Diplomata+SC|Mrs+Sheppards|Abril+Fatface|Cutive|Kaushan+Script|Sancreek|Pontano+Sans|Varela|Didact+Gothic|Macondo|Boogaloo|Fondamento|Rock+Salt|Ewert|Alegreya+SC|Allan:700|Creepster|Carter+One|Bangers|Prata' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Karla:400,700|Telex' rel='stylesheet' type='text/css'/>

        <link rel="stylesheet" type="text/css" href="../../style/yyy-page.css"/>

        <script type="text/javascript" src="/_utils/script/json2.js"></script>
        <script type="text/javascript" src="/_utils/script/jquery.js"></script>

        <script type="text/javascript">
            $(function() {
                var _FONTS = [
                    '"Cantata One", serif', 
                    '"Graduate", cursive', 
                    '"Cousine", sans-serif',
                    '"Ovo", serif',
                    '"Sarina", cursive',
                    '"Shadows Into Light", cursive',
                    '"Rosarivo", serif',
                    '"Nosifer", cursive',
                    '"EB Garamond", serif',
                    '"Fredoka One", cursive',
                    '"Josefin Sans", sans-serif',
                    '"Ubuntu Condensed", sans-serif',
                    '"PT Mono", sans-serif',
                    '"Press Start 2P", cursive',
                    '"Oxygen", sans-serif',
                    '"Bree Serif", serif',
                    '"Diplomata SC", cursive',
                    '"Mrs Sheppards", cursive',
                    '"Abril Fatface", cursive',
                    '"Cutive", serif',
                    '"Kaushan Script", cursive',
                    '"Sancreek", cursive',
                    '"Pontano Sans", sans-serif',
                    '"Varela", sans-serif',
                    '"Didact Gothic", sans-serif',
                    '"Macondo", cursive',
                    '"Boogaloo", cursive',
                    '"Fondamento", cursive',
                    '"Rock Salt", cursive',
                    '"Ewert", cursive',
                    '"Alegreya SC", serif',
                    '"Allan", cursive',
                    '"Creepster", cursive',
                    '"Carter One", cursive',
                    '"Bangers", cursive',
                    '"Prata", serif',
                ];
                $('.page-header h1').css('font-family',_FONTS[Math.floor(Math.random()*_FONTS.length)]);
            });

        </script>

    </head>

    <body>

        <div class="container">

            <div class="content">

                <div class="page-header">
                    <h1>YESYESYES</h1>
                    <h2>San Francisco Arts and Culture</h2>
                </div>

                <div class="page-subheader">
                    <h2>{title}</h2>
                    <h2>by {author}</h2>
                </div>

                {content|s}

                <div class="page-footer">
                    <h2><a href="../../">home</a>&#149buy our print mag&#149<a href="mailto:yesyesyesmag@gmail.com" target="_blank">send us work</a>&#149<a href="http://www.facebook.com/yesyesyes.mag" target="_blank">be our friend</a></h2> 
                </div>

            </div><!-- /content-->

        </div> <!-- /container -->

    </body>
</html>
