<!-- in /templates/base.html -->
<div class="page-header">
    <a href="http://www.yesyesyesmag.com" target="_blank">
        <h1>I NT E R NE T</h1>
        <h1>YES YES YES</h1>
    </a>
    <br/>
    <br/>
    <a href="http://www.yesyesyesmag.com/_show/article/{page_id}" target="_blank"><button type="button" id="view-btn" class="button red">final article</button></a>
    <button type="button" id="home-btn" class="button red">home</button>
</div>

<div class="page-subheader">
    <div class="box">
        <h2 class="title">{title}</h2>
        <button type="button" id="save-title-button" class="invisible">save change</button>
        <input id="edit-title-input" type="text" value="{title}" placeholder="title" name="title"/>
    </div>
    <div class="box">
        <h2 class="author">by {author}</h2>
        <button type="button" id="save-author-button" class="invisible">save change</button>
        <input id="edit-author-input" type="text" value="{author}" placeholder="author" name="author"/>
    </div>
</div>
{#sections}
    {#normText}
<div class="page-section page-section-{id} text-section">
    <div>{.|s}</div>
    {/normText}
    {#text}
    <textarea id="edit-text-input-{id}" name="text" rows="20">{.}</textarea>
    <button type="button" id="save-text-button-{id}" class="save-text-button invisible">save change</button>
    <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove text</button>
</div>
    {/text}
    {#image}
<div class="page-section page-section-{id} image-section">
    <img class="fullscreen" src="/yyy/{page_id}/{.}"/>
    <div class="file-input-interface" id="image-interface-{id}">
        <button type="button" class="change-file-button" id="change-image-{id}">change image</button>
        <form class="file-form" id="image-form-{id}">
            <input type="file" class="change-file-input" id="change-image-input-{id}" name="_attachments"/>
        </form>
        <button type="button" class="save-image-button invisible" id="save-image-{id}">save change</button>
        <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove image</button>
    </div>
</div>
    {/image}
    {#empty}
<div class="page-section page-section-{id} image-section">
    <img class="small" src="/yyy/{page_id}/((empty))"/>
    <div class="file-input-interface" id="image-interface-{id}">
        <button type="button" class="change-file-button" id="change-image-{id}">change image</button>
        <form class="file-form" id="image-form-{id}">
            <input type="file" class="change-file-input" id="change-image-input-{id}" name="_attachments"/>
        </form>
        <button type="button" class="save-image-button invisible" id="save-image-{id}">save change</button>
        <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove image</button>
    </div>
</div>
    {/empty}
    {#link}
<div class="page-section page-section-{id} link-section">
        <a href="{link}" target="_blank"><h2 class="url">{display}</h2></a>
        <label for="edit-link-input">url</label>
        <input id="edit-link-input-{id}" class="edit-link" type="text" value="{link}" placeholder="link url" name="link"/>
        <br/>
        <label for="edit-display-input">displayed text</label>
        <input id="edit-display-input-{id}" class="edit-display" type="text" value="{display}" placeholder="displayed text" name="display"/>
        <br/>
        <button type="button" class="save-link-button invisible" id="save-link-button-{id}">save change</button>
        <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove link</button>
</div>
    {/link}
    {#video}
<div class="page-section page-section-{id} video-section">
    <div>{.|s}</div>
    <textarea id="edit-video-input-{id}" name="text" rows="20">{.}</textarea>
    <button type="button" id="save-video-button-{id}" class="save-video-button invisible">save change</button>
    <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove video</button>
</div>
    {/video}
    {#sound}
<div class="page-section page-section-{id} sound-section">
    <div>{.|s}</div>
    <textarea id="edit-sound-input-{id}" name="text" rows="20">{.}</textarea>
    <button type="button" id="save-sound-button-{id}" class="save-sound-button invisible">save change</button>
    <button type="button" class="remove-section-button serious" id="remove-section-button-{id}">remove sound</button>
</div>
    {/sound}
{/sections}
<div class="page-section red">
    <button type="button" id="add-text-section-button" class="space red">(+)add text</button>
    <button type="button" id="add-image-section-button" class="space red">(+)add image</button>
    <button type="button" id="add-link-section-button" class="space red">(+)add link</button>
    <button type="button" id="add-video-section-button" class="space red">(+)add video</button>
    <button type="button" id="add-sound-section-button" class="space red">(+)add sound</button>
</div>

<div class="page-footer">
    <h2><a href="../../">  HOME  </a>&#149<a href="">  PRINT MAG  </a>&#149<a href="mailto:yesyesyesmag@gmail.com" target="_blank">  SEND US WORK  </a>&#149<a href="http://www.facebook.com/yesyesyes.mag" target="_blank">  BE OUR FRIEND  </a></h2> 
</div>
