<!-- in /templates/base.html -->
<div class="page-header">
    <a href="../../">
        <h1>I NT E R NE T</h1>
        <h1>YES YES YES</h1>
    </a>
</div>

<div class="page-subheader">
    <h2 class="title">{title}</h2>
    <h2 class="author">by {author}</h2>
</div>

{content|s}

<div class="page-footer">
    <h2><a href="../../">  HOME  </a>&#149<a href="">  PRINT MAG  </a>&#149<a href="mailto:yesyesyesmag@gmail.com" target="_blank">  SEND US WORK  </a>&#149<a href="http://www.facebook.com/yesyesyes.mag" target="_blank">  BE OUR FRIEND  </a></h2> 
</div>
