<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>yyy banners edit</title>
        <meta name="description" content="page for editing banners">
        <meta name="programmer" content="vijay rudraraju">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="../../static/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            .container > footer p {
                text-align: center; /* center align it with the container */
            }

            .topbar .btn {
                border: 0;
            }

            #bannerImage {
                width: 940px;
                height: 100px;
                margin: 0px auto; padding:0;
            }

            .thumbnail {
                width: 90px;
                height: 90px;
            }
        </style>

        <script src="/_utils/script/json2.js"></script>
        <script src="../../script/jquery.js"></script>
        <script src="/_utils/script/jquery.couch.js"></script>
        <script src="../../script/jquery.form.js"></script>
        <script>
            var dbName = 'yesyesyes';
            var bannersDocName = 'banners';

            function loadBanner(docid) {
                $.couch.db(dbName).openDoc(docid, {
                    success: function(data) {
                        console.log(data);
                        $('#bannerImage').css('background','url(/'+dbName+'/'+data._id+'/'+data.logo+')');
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
            function loadThisBanner() {

            }

            var bannersDoc = {};
            $(function(){
                var bannersDoc = {};

                $.couch.db(dbName).openDoc(bannersDocName, {
                    success: function(data) {
                        console.log(data);
                        bannersDoc = data;
                        if (bannersDoc.data.length !== 0) {
                            console.log('load banner');
                            loadBanner(bannersDoc.data[bannersDoc.data.length-1].docid);
                        }
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });
        </script>
    </head>

    <body>
        <div class="container">
            <div class="content">
                <div class="page-header">
                    <ul id="bannerImage">
                    </ul>
                </div>
                <ul class="tabs">
                    <li class="active"><a href="../../banners.html">banners</a></li>
                    <li><a href="../../authors.html">authors</a></li>
                    <li><a href="../../articles.html">articles</a></li>
                </ul>
                <ul class="breadcrumb">
                    <li><a href="../../banners.html">all</a> <span class="divider">/</span></li>
                    <li class="active">{{logo}}</li>
                </ul>
                <div class="row">
                    <div class="span8">
                        <ul id="banners-grid" class="media-grid">
                        </ul>
                    </div>
                    <div class="span8">
                    </div>
                </div>
            </div>

            <footer>
            <p>&copy; yesyesyes 2012</p>
            <p>web stuff created by vijay rudraraju</p>
            </footer>

        </div> <!-- /container -->

    </body>
</html>

