<!-- in /templates/base.html -->
<div class="page-header">
    <a href="http://www.yesyesyesmag.com" target="_blank">
        <h1>I NT E R NE T</h1>
        <h1>YES YES YES</h1>
    </a>
    <br/>
    <br/>
    <button type="button" id="home-btn" class="button red">home</button>
</div>

<div class="page-subheader">
    <div class="box" style='border:0'>
        <h2 class="title">this is what a title looks like</h2>
        <button type="button" id="save-title-button" class="invisible">save change</button>
    </div>
    <div class="box" style='border:0'>
        <h2 class="author">by this is what an author looks like</h2>
        <button type="button" id="save-author-button" class="invisible">save change</button>
    </div>
</div>

<div class="page-section page-section-test text-section" style='border:0'>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <button type="button" id="save-text-button-test" class="save-text-button invisible">save change</button>
</div>

<div class="page-footer">
    <h2><a href="../../">  HOME  </a>&#149<a href="">  PRINT MAG  </a>&#149<a href="mailto:yesyesyesmag@gmail.com" target="_blank">  SEND US WORK  </a>&#149<a href="http://www.facebook.com/yesyesyes.mag" target="_blank">  BE OUR FRIEND  </a></h2> 
</div>
